@model IEnumerable<EnrollMent_00.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Session)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Faculty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FathersName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MothersName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
 
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Session)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FathersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MothersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>


            @*PERFECT SYNTAX FOR IMAGE RENDERING*@
            <td>
               <a href="@Url.Content(item.ImageUrl)"> <img src="@Url.Content(item.ImageUrl)" style="width:50px; height:50px; border-radius: 50%;" /> </a> 
            </td>
            @*PERFECT SYNTAX FOR IMAGE RENDERING*@


            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
